.filter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 1px solid #475069;
  color: #ffffff;
  padding: 18px;
  max-width: 344px;
  width: 100%;
  margin-bottom: 10px;
}

.search::placeholder {
  font-family: 'Poppins', 'FontAwesome';
  color: var(--grey600);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.cards {
  height: 60vh;
  overflow-y: scroll;
  padding-bottom: 1rem;
}

.card {
  background-color: darkgray;
  padding: 1rem;
  margin: 2rem;
  border-radius: 2rem;
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card img {
  background-color: rgba(206, 245, 252, 0.4);
  border-radius: 2rem;
  width: 100%;
  object-fit: contain;
  margin-bottom: 1rem;
}

.card p {
  font-weight: 600;
}

.pagination {
  justify-content: center;
}

.pagination .page-item .page-link {
  border-radius: 0;
}

.pagination .page-item.active .page-link {
  background-color: #007bff;
  border-color: #007bff;
}