<div class="filter">
  <input
    class="search"
    name="search"
    [(ngModel)]="search"
    (ngModelChange)="searchItems(search)"
    placeholder="Buscador"
    type="search"
  />
</div>
<div class="cards">
  <div class="container">
    <div class="d-flex justify-content-center align-items-stretch flex-wrap">
      <div class="card" *ngFor="let item of itemsAux">
        <img ng-lazyload-image src="{{ item.imgURL }}" alt="test" />
        <p>{{ item.name }}</p>
      </div>
    </div>
  </div>
</div>
<ul class="pagination">
  <li class="page-item" [class.disabled]="page == 1">
    <a class="page-link" (click)="changePage(1)">Primera</a>
  </li>
  <li class="page-item" [class.disabled]="page == 1">
    <a class="page-link" (click)="changePage(page - 1)">Anterior</a>
  </li>
  <li class="page-item" [class.disabled]="page == totalPages">
    <a class="page-link" (click)="changePage(page + 1)">Siguiente</a>
  </li>
  <li class="page-item" [class.disabled]="page == totalPages">
    <a class="page-link" (click)="changePage(totalPages)">Última</a>
  </li>
</ul>
